
REACT_APP_TEST_USERNAME=your_username
REACT_APP_TEST_PASSWORD=your_password
REACT_APP_URL='http://localhost:4000'
PRIMARY_RUNNER=your_primary_gitlab_runner_tag
SECONDARY_RUNNER=your_secondary_gitlab_runner_tag