{
  "env": {
    "jest": true,
    "jest/globals": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js"]
      }
    }
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "requireConfigFile": false,
    "ecmaVersion": 2022,
    "sourceType": "module" // Allows for the use of imports
  },
  "plugins": ["jest", "@typescript-eslint", "import"],
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "no-console": "error",
    "import/first": "error",
    "linebreak-style": 0, // disable linter linebreak rule, to allow for both unix and windows developement
    "import/no-unresolved": "off", // Whatever IDE will pass an error if if the module is not found, so no reason for this..
    "import/extensions": "off", // That includes the production build.. We use linter for code checking / clean code optimization..
    "no-use-before-define": "off"
  },
  "root": true,

  "overrides": [
    {
      "files": ["*.ts"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "requireConfigFile": false,
        "project": ["./tsconfig.json"]
      },
      "plugins": ["@typescript-eslint"]
    }
  ]
}
