.gitlabButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fc6d27;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
  }
  
  .gitlabLogo {
    height: 20px;
    margin-right: 10px;
  }