{
    "env": {
    "es6": true,
    "jest": true,
    "jest/globals": true
    },
    "extends": [
    "airbnb-base"
    ],
    "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "parserOptions": {
    "ecmaFeatures": {
    "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
    },
    "rules": {
        "no-console": "off"
    },
    "plugins": ["jest"]
}