[
  {
    "name": "DTaaS Server Authorization",
    "redirect_uri": "https://intocps.org/_oauth",
    "confidential": true,
    "scopes": "read_user",
    "trusted": true
  },
  {
    "name": "DTaaS Client Authorization",
    "redirect_uri": "https://intocps.org/Library",
    "confidential": false,
    "scopes": "api openid profile read_repository read_user",
    "trusted": true
  }
]
