# Username Configuration
# This username is used as the workspace path prefix.
# Example: http://localhost/user1
DEFAULT_USER=user1

# The next line does not need to be changed
COMPOSE_PROJECT_NAME=dtaas
