# Common settings
HOSTNAME=foo.com
USERID=0
GROUPID=0

# InfluxDB settings
INFLUXDB_PORT=8086
INFLUXDB_ADMIN_USERNAME=dtaas
# provide at least eight character password containing alphabets and numbers
INFLUXDB_ADMIN_PASSWORD=dtaas1357
INFLUXDB_ORG=dtaas
INFLUXDB_BUCKET=dtaas

# MongoDB settings
MONGODB_PORT=8087
MONGODB_INITDB_ROOT_USERNAME=dtaas
MONGODB_INITDB_ROOT_PASSWORD=dtaas

# Grafana settings
GRAFANA_PORT=8088
GRAFANA_ADMIN_USERNAME=dtaas
GRAFANA_ADMIN_PASSWORD=dtaas
