# Common settings
HOSTNAME=foo.com

# MongoDB settings
MONGODB_PORT=8087
MONGODB_INITDB_ROOT_USERNAME=dtaas
MONGODB_INITDB_ROOT_PASSWORD=dtaas

# Grafana settings
GF_SERVER_SERVE_FROM_SUB_PATH=true
GF_SERVER_ROOT_URL=%(protocol)s://%(domain)s:%(http_port)s
GF_SERVER_PROTOCOL=https
GF_SERVER_CERT_FILE=/etc/ssl/certs/fullchain.pem
GF_SERVER_CERT_KEY=/etc/ssl/certs/privkey.pem
GF_AUTH_BASIC_ENABLED=false
GF_AUTH_PROXY_ENABLED=false
GF_SECURITY_ALLOW_EMBEDDING=true
GF_AUTH_ANONYMOUS_ENABLED=false
GF_USERS_ALLOW_SIGN_UP=false
GF_FEATURE_TOGGLES_ENABLE=publicDashboards
GF_PATHS_CONFIG=/etc/grafana/grafana.ini
GF_PATHS_DATA=/var/lib/grafana
GF_PATHS_HOME=/usr/share/grafana
GF_PATHS_LOGS=/var/log/grafana
GF_PATHS_PLUGINS=/var/lib/grafana/plugins
GF_PATHS_PROVISIONING=/etc/grafana/provisioning

