name: Make quality checks on the client react SPA application

on:
  push:
    paths-ignore:
      - 'docs/**'
  pull_request:
    paths-ignore:
      - 'docs/**'
  workflow_dispatch:
    paths-ignore:
      - 'docs/**'

jobs:
  client:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "yarn"
          cache-dependency-path: "**/yarn.lock"

      - name: Run the linting checks
        run: |
          cd client/	
          yarn install	
          yarn syntax
      - name: Build the React SPA website
        run: |
          cd client/	
          ./script/install.bash 
          yarn build
          yarn configapp test
      - name: Run client unit and integration tests
        run: |
          cd client/	
          yarn install	
          yarn test -u
          yarn test -i
      - name: 'Upload Artifact'
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: E2E-error-trace
          path: client/test-results
      - name: Upload unit test coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: client/coverage/clover.xml
          flags: client-unit-test

      - name: Upload browser test coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: client/playwright-report/results.json
          flags: client-browser-test
