name: Make quality checks on the client react SPA application

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  client:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup node
        env:
          HUSKY_SKIP_INSTALL: 1
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "yarn"
          cache-dependency-path: "**/yarn.lock"

      - name: Run the linting checks
        continue-on-error: true
        run: |
          cd client/
          yarn install
          yarn syntax

      - name: Build the React SPA website
        run: |
          cd client/
          yarn install
          yarn build

      - name: Run client unit and integration tests
        run: |
          cd client/
          yarn install
          yarn test

      - name: Upload unit test coverage to Codecov
        continue-on-error: true
        uses: codecov/codecov-action@v3
        with:
          files: client/coverage/clover.xml
          flags: client-unit-test

      - name: Upload browser test coverage to Codecov
        continue-on-error: true
        uses: codecov/codecov-action@v3
        with:
          files: client/playwright-report/results.json
          flags: client-browser-test
